<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{main-layout}">
<head>
    <title>Логин</title>
</head>
<body>
<nav layout:fragment="mainmenu" th:remove="tag">
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-wrapper">
            <img id="logo" src="/images/jlogo.png"/>
            <div layout:fragment="mainframe" class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <h1 class="text-center login-title">Вход для посвящённых</h1>

                        <h1 th:if="${loginError == true}" class="text-center login-error">Введён неверный логин или пароль</h1>

                        <div class="account-wall">
                            <img class="profile-img"
                                 src="/images/flag.jpg"
                                 alt="">

                            <form action="/j_spring_security_check" class="form-signin" method="post">
                                <input id="j_username" name="j_username" type="text" class="form-control" placeholder="Логин" required autofocus>
                                <input id="j_password" name="j_password" type="password" class="form-control" placeholder="Пароль" required>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">
                                    Войти
                                </button>
                                <label class="checkbox pull-left">
                                    <input type="checkbox" value="remember-me">
                                    Запомнить меня
                                </label>
                            </form>
                        </div>
                        <a href="/new/register" class="text-center new-account">Зарегистрироваться</a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</body>
</html>