<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Японская Лига FA13</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="/css/jleague.css"/>
    <style type="text/css">
        #logo {
            margin: 20px;
        }

        body {
            background: url(/images/girl.jpg) no-repeat top right #d6d8d7;
            background-attachment: fixed;
            margin-bottom: 60px;
        }

        html {
            position: relative;
            min-height: 100%;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
        }

        .text-muted {
            margin: 20px 0;
        }

        .nav-emblem {
            width: 25px;
            height: 25px;
            float: left;
            margin: 0 0 0 0;
        }
    </style>
</head>
<body>
<nav th:fragment="teamsnav" id="teams-nav" class="navbar navbar-default navbar-inverse navbar-static-top"
     role="navigation">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a href="/" class="navbar-brand">Японская лига FA13</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <ul class="nav navbar-nav">
                        <li th:each="jTeam : ${japanTeams}">
                            <a href="#"><img class="nav-emblem" src="" th:attr="src=${jTeam.emblem}"/></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</nav>
<nav th:fragment="adminnav" id="admin-nav" class="navbar navbar-static-top navbar-inverse"
     role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/admin" class="navbar-brand">Японский админ</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/new/admin">Новости</a></li>
            <li><a href="/new/admin/countries">Страны</a></li>
            <li><a href="/new/admin/users">Пользователи</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Логин</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-wrapper">
            <img id="logo" src="/images/jlogo.png"/>
            <nav th:fragment="mainmenu (pageType)" role="navigation" class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li th:attr="class=((${pageType} eq 'news') ? 'active' : '')"><a href="/">Новости</a></li>
                        <li th:attr="class=((${pageType} eq 'transfer') ? 'active' : '')"><a
                                href="/transfer">Трансфер</a></li>
                        <li th:attr="class=((${pageType} eq 'teams') ? 'active' : '')"><a
                                href="/teams">Команды</a></li>
                        <li><a href="/komandy">Видео матчей</a></li>
                        <li><a href="/gallery">Фото</a></li>
                        <li><a href="/poleznoe">Интересно</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Логин</a></li>
                    </ul>
                </div>
            </nav>
            <div class="row">
                <div class="col-md-8">
                    <div th:each="newsItem : ${news}" class="panel panel-default">
                        <div class="panel-heading" th:shortText="${newsItem.title}">Новости</div>
                        <div class="panel-body" th:shortText="${newsItem.shortText}">Привет! Это новость для вас!</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Виджет 1</div>
                        <div class="panel-body">А это виджет 1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<footer th:fragment="footer" class="footer navbar-inverse">
    <div class="container">
        <div class="row">
            <div id="footer-content">
                <p class="text-muted">Developed by <a href="mailto:alterloki@yandex.ru">@alterloki</a></p>
            </div>
        </div>
    </div>
</footer>
<script src="/js/jquery-2.1.4.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.tabledit.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
</body>
</html>