<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{main-layout}">
<head>
    <title>Новости</title>
</head>
<body>
<nav layout:fragment="mainmenu" th:remove="tag">
    <div th:replace="main::mainmenu ('news')"/>
</nav>
<div layout:fragment="content" class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Новости</div>
        <div class="panel-body">Привет! Это новость для вас!</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Новости</div>
        <div class="panel-body">Привет! Это другая новость для вас!</div>
    </div>
</div>
</body>
</html>