<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{main-layout}">
<head>
    <title>Команды</title>
</head>
<body>
<nav layout:fragment="mainmenu" th:remove="tag">
    <div th:replace="main::mainmenu('teams')"/>
</nav>
<div layout:fragment="mainframe">
    <div class="well">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Поиск</span>
            <input id="team-name" type="text" class="form-control" placeholder="Название"
                   aria-describedby="basic-addon1"/>
        </div>
    </div>
    <div class="well">
        <table class="table table-bordered table-responsive" id="teams-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Менеджер</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team : ${topTeams}">
                <td th:text="${team.shortName}"></td>
                <td>
                    <a href="/team" th:href="@{/team/{team_id}(team_id=${team.id})}" th:text="${team.name}"></a>
                </td>
                <td th:text="${team.managerLogin}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="well">
        <table class="table table-bordered table-responsive" id="countries-table">
            <thead>
            <tr>
                <th>ФА 13 Index</th>
                <th>Название</th>
                <th>Флаг</th>
                <th>Команды</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="country : ${countries}">
                <td th:text="${country.faId}"></td>
                <td th:text="${country.name}"></td>
                <td><img src="" th:attr="src=${country.picture}"/></td>
                <td>
                    <a href="/teams/country.html" th:href="@{/teams/country/{country_id}(country_id=${country.id})}">Команды</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div layout:fragment="script-after" th:remove="tag">
    <script>
        $(document).ready(function () {
            $('#team-name').keyup(function () {
                $.ajax({
                    url: '/teams/sub/' + $('#team-name').val(),
                    type: 'GET',
                    success: function (result) {
                        $('#teams-table').replaceWith(result);
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>
